<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Historique des commandes</title>
</head>

<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="http://localhost:8000/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-5" style="font-size:35px; ">RAUDI</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="http://localhost:8000/" class="nav-link px-2 text-light">Accueil</a></li>
                    <li><a href="#" class="nav-link px-2 text-light">Customiser un modèle</a></li>
                    <li><a href="http://localhost:8000/commandes/commandes?token=token" class="nav-link px-2 text-light" id="nav-commandes">Historique des commandes</a></li>
                    <li><a href="http://localhost:8000/commandes/totalPrixCommandes?token=token" class="nav-link px-2 text-light" id="nav-totalCommandes">Gain total des commandes</a></li>
                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">
                        <a href="http://localhost:8000/users/se_connecter" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                            Connexion
                        </a>
                    </button>
                    <button type="button" class="btn btn-warning">
                        <a href="http://localhost:8000/users/inscription" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                            Inscription
                        </a>
                    </button>
                </div>
            </div>
            </div>
    </header>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="http://localhost:8000" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-5" style="font-size:35px; ">RAUDI</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="http://localhost:8000" class="nav-link px-2 text-light">Accueil</a></li>
                    <li><a href="#" class="nav-link px-2 text-light">Customiser un modèle</a></li>
                    <li><a href="http://localhost:8000/commandes/commandes?token=token" class="nav-link px-2 text-light" id="nav-commandes">Historique des commandes</a></li>
                    <li><a href="http://localhost:8000/commandes/totalPrixCommandes?token=token" class="nav-link px-2 text-light" id="nav-totalCommandes">Gain total des commandes</a></li>
                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">
                        <a href="http://localhost:8000/users/se_connecter" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                            Connexion
                        </a>
                    </button>
                    <button type="button" class="btn btn-warning">
                        <a href="" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                            Inscription
                        </a>
                    </button>
                </div>
            </div>
            </div>
    </header>

    <main>
        <div class="container my-5">
            <section class="title mb-4">
                <h1 class="text-center">Historique des commandes</h1>
            </section>

            <section class="commandes">
                <table id="commande-table" class="table border table-bordered">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">ID</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Description</th>
                            <th scope="col">Date</th>
                            <th scope="col">Prix</th>
                            <th scope="col">Nom du Client</th>
                        </tr>
                    </thead>
                    <tbody id="commande-body"><!-- Affiche toutes les commandes --></tbody>
                </table>
            </section>
        </div>
    </main>

    <script>
        // Récupére les données depuis l'API et construit le tableau
        async function afficherCommandes() {
            try {
                const token = localStorage.getItem("token")
                const navCommandes = document.getElementById('nav-commandes')
                navCommandes.href = "http://localhost:8000/commandes/commandes?token=" + token; 
                const navTotalCommandes = document.getElementById('nav-totalCommandes');
                navTotalCommandes.href = "http://localhost:8000/commandes/totalPrixCommandes?token=" + token;

                const response = await fetch('http://localhost:8000/commandes/getAll', {
                    headers: {Authorization: localStorage.getItem('token')}
                });
                const data = await response.json();
                const tbody = document.getElementById('commande-body');
                // Ajoute chaque commande au tableau
                data.forEach(commande => {
                    console.log(commande)
                    const dateCommande = new Date(commande.date_commande);
                    const options = { year: 'numeric', month: '2-digit', day: '2-digit' };
                    const dateFormatee = dateCommande.toLocaleDateString('fr-FR', options);

                    const row = tbody.insertRow(-1);
                    const cellId = row.insertCell(0);
                    const cellNom = row.insertCell(1);
                    const cellDescription = row.insertCell(2);
                    const cellDate = row.insertCell(3);
                    const cellPrix = row.insertCell(4);
                    const cellIdClient = row.insertCell(5);
                    
                    cellId.textContent = commande.id;
                    cellNom.textContent = commande.nom_commande;
                    cellDescription.textContent = commande.description_commande;
                    cellDate.textContent = dateFormatee;
                    cellPrix.textContent = `${commande.prix_commande} €`;
                    cellIdClient.textContent = commande.nom
                });
            } catch (error) {
                console.error('Erreur lors de la récupération des commandes:', error);
                document.getElementById('modele-body').innerHTML = '<tr><td colspan="3">Une erreur est survenue lors de la récupération des commandes.</td></tr>';
            }
        }

        document.addEventListener('DOMContentLoaded', afficherCommandes);
    </script>
</body>
</html>
