<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="" type="image/x-icon">
    <title>Liste des modèles de voitures</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <nav class="navbar">
        <div class="left-section">
            <span>Liste des modèles de voitures</span>
        </div>
        <div class="right-section">
            <a href="http://localhost:8000/users/se_connecter" ><button class="btn" >Connexion</button></a>
            <button class="btn">Inscription</button>
            <a href="http://localhost:8000/commandes/commandes?token=token" id="nav-commandes">commandes</a>
        </div>
    </nav>

    <!--Créer moi une barre de navigation avec un bouton pour aller sur la page d'accueil, un bouton pour aller sur la page de connexion et un bouton pour aller sur la page d'inscription -->

    <table id="modele-table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="modele-body">
            <!-- Affiche la liste des modèles  -->
        </tbody>
    </table>

    <script>
        const token = localStorage.getItem("token")
        const navCommandes = document.getElementById('nav-commandes')
        navCommandes.href = "http://localhost:8000/commandes/commandes?token=" + token; 

        // Fonction pour récupérer les données depuis l'API et construire le tableau
        async function afficherModeles() {
            try {
                const response = await fetch('http://localhost:8000/modeles/getAll');
                const data = await response.json();
                const tbody = document.getElementById('modele-body');

                // Ajouter chaque modèle au tableau
                data.forEach(modele => {
                    const row = tbody.insertRow(-1);
                    const cellNom = row.insertCell(0);
                    const cellPrix = row.insertCell(1);
                    const cellImage = row.insertCell(2);
                    const imageModele = document.createElement('img');
                    cellImage.appendChild(imageModele);
                    const cellAction = row.insertCell(3);
                    const button = document.createElement('button');
                    const buttonModify = document.createElement('button');
                    const buttonDelete = document.createElement('button');
                    cellAction.appendChild(button);

                    //Voit le bouton modifier et supprimer que si l'utilisateur et connecter en tant qu'admin si il est comptable il ne peut que voir les modèles 
                    //if (sessionStorage.getItem('role') == 'admin') {
                    //    cellAction.appendChild(buttonModify);
                    //    cellAction.appendChild(buttonDelete);
                    //}
                    //else if (sessionStorage.getItem('role') == 'comptable') {
                    //    cellAction.appendChild(button);
                    //}
                    //else {
                    //    cellAction.appendChild(button);
                    //}
                    
                    cellNom.textContent = modele.nom_modele;
                    cellPrix.textContent = modele.prix_modele;
                    //cellImage.textContent = modele.image_modele;  
                    imageModele.src = modele.image_modele;
                    imageModele.style.width = '100px'; 
                    button.textContent = 'Voir le modèle'; 
                    button.addEventListener('click', () => {
                        console.log('Bouton cliqué pour détail du modèle :', modele.id);
                        window.location.href = 'http://localhost:8000/'+modele.id;
                    }); 
                });
            } catch (error) {
                console.error('Erreur lors de la récupération des modèles:', error);
                document.getElementById('modele-body').innerHTML = '<tr><td colspan="3">Une erreur est survenue lors de la récupération des modèles.</td></tr>';
            }
        }

        document.addEventListener('DOMContentLoaded', afficherModeles);
    </script>
</body>
</html>
