<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Gain total par mois des commandes</title>
</head>

<body>
    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="http://localhost:8000/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none me-5" style="font-size:35px; ">RAUDI</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="http://localhost:8000/" class="nav-link px-2 text-light">Accueil</a></li>
                    <li><a href="#" class="nav-link px-2 text-light">Customiser un modèle</a></li>
                    <li><a href="http://localhost:8000/commandes/commandes?token=token" class="nav-link px-2 text-light" id="nav-commandes">Historique des commandes</a></li>
                    <li><a href="http://localhost:8000/commandes/totalPrixCommandes?token=token" class="nav-link px-2 text-light" id="nav-totalCommandes">Gain total des commandes</a></li>
                </ul>
                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">
                        <a href="http://localhost:8000/users/se_connecter" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                            Connexion
                        </a>
                    </button>
                    <button type="button" class="btn btn-warning">
                        <a href="http://localhost:8000/users/inscription" class="d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none">
                            Inscription
                        </a>
                    </button>
                </div>
            </div>
            </div>
    </header>
  
    <main>
        <div class="container my-5">
            <section class="title mb-4">
                <h1 class="text-center">Gain total des commandes</h1>
            </section>

            <section class="total-commandes">
                <table id="commandesTotal-table" class="table border table-bordered">
                    <thead>
                        <tr class="table-secondary">
                            <th scope="col">Mois</th>
                            <th scope="col">Nombre de commandes</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody id="totalCommande-body"><!-- Affiche le gain total des commandes par mois --></tbody>
                </table>
            </section>
        </div>
    </main>

    <script>
        // Récupère le token pour le mettre dans l'url du lien
        const token = localStorage.getItem("token")
        const navCommandes = document.getElementById('nav-commandes')
        navCommandes.href = "http://localhost:8000/commandes/commandes?token=" + token; 
        const navTotalCommandes = document.getElementById('nav-totalCommandes');
        navTotalCommandes.href = "http://localhost:8000/commandes/totalPrixCommandes?token=" + token;

        // Récupére les données depuis l'API et construit le tableau
        async function afficherTotalPrixCommandes() {
            try {
                const response = await fetch('http://localhost:8000/commandes/getTotalPrices', {
                    headers: {Authorization: localStorage.getItem('token')}
                });
                const data = await response.json();
                const tbody = document.getElementById('totalCommande-body');
              
                // Ajoute chaque commande au tableau
                data.forEach(commande => {
                    const dateStr = commande.mois;
                    const date = new Date(dateStr);
                    const mois = date.toLocaleString('fr-FR', { month: 'long' }); // 'long' pour obtenir le nom complet du mois
                    const annee = date.getFullYear();

                    const row = tbody.insertRow(-1);
                    const cellMois = row.insertCell(0);
                    const cellNbCommandes = row.insertCell(1);
                    const cellTotal = row.insertCell(2);
                    
                    cellMois.textContent = `${mois} ${annee}`;
                    cellNbCommandes.textContent = commande.nombreCommandes;
                    cellTotal.textContent = `${commande.sommePrix} €`;
                });
            } catch (error) {
                console.error('Erreur lors de la récupération des commandes:', error);
                document.getElementById('modele-body').innerHTML = '<tr><td colspan="3">Une erreur est survenue lors de la récupération des commandes.</td></tr>';
            }
        }

        document.addEventListener('DOMContentLoaded', afficherTotalPrixCommandes);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
